.cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 4%;
  flex-wrap: wrap;
  /* text-align: center; */
}

.movieCard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40%;
  padding: 4%;
}

.poster {
  max-width: 80%;
}