*, html {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
  font-family: Bricolage Grotesque;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:  #474787;
}

p {
  font-size: 24px;
  padding: 6px;
  padding-bottom: 6px;
}

h3 {
  font-size: 36px;
  padding-top: 12px;
  padding: 12px;
  color: #ECECEC;
  text-align: center;
}

h4 {
  font-size: 24px;
  padding-top: 12px;
  padding: 12px;
  color: #ECECEC;
  text-align: center;
}

button {
  font-family: Bricolage Grotesque;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}