.trailer {
  text-align: center;
  color: #ECECEC;
}

.trailer h2 {
  padding: 2%;
  font-size: 6vh;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}